button[kendoButton].btn-app-bar {
  width: 26px !important;
  height: 26px !important;
  color: white;
  .k-icon {
    font-size: 20px !important;
  }
}

button[kendoButton].btn-app-bar-search {
  height: 24px;
  width: 320px;
  border-radius: 4px;
  background-color: rgb(67, 30, 68);
  color: rgba($color: #ffffff, $alpha: 0.3);
  justify-content: flex-start;

  ::ng-deep input {
    height: inherit;
    width: inherit;
    &::placeholder {
      color: white;
    }
  }
}

app-appbar-section-base {
  display: flex;
  align-items: center;
}

.avatar-app-bar {
  width: 28px;
  max-width: 28px;
  height: 28px;
  max-height: 28px;
  // TODO: Temp values, remove!
  background-color: #f6f6f6;
  color: #3f0e40;

  & {
    justify-self: end;
  }
}
