<app-appbar-base>
  <app-appbar-spacer-base></app-appbar-spacer-base>

  <app-appbar-section-base kendoTooltip>
    <button
      kendoButton
      look="clear"
      icon="clock"
      class="btn-app-bar"
      title="History"
    ></button>
  </app-appbar-section-base>

  <app-appbar-spacer-base width="32px"></app-appbar-spacer-base>

  <app-appbar-section-base kendoTooltip>
    <button
      kendoButton
      look="outline"
      class="btn-app-bar-search"
      title="Search workspace name"
    >
      Search workspace name
    </button>
  </app-appbar-section-base>

  <app-appbar-spacer-base width="32px"></app-appbar-spacer-base>

  <app-appbar-section-base kendoTooltip>
    <button
      kendoButton
      look="clear"
      icon="help"
      class="btn-app-bar"
      title="Help"
    ></button>
  </app-appbar-section-base>

  <app-appbar-spacer-base></app-appbar-spacer-base>

  <app-appbar-section-base kendoTooltip>
    <kendo-avatar
      shape="rounded"
      initials="MT"
      class="avatar-app-bar"
      title="Majd Taweel"
    ></kendo-avatar>
  </app-appbar-section-base>

  <app-appbar-spacer-base width="16px"></app-appbar-spacer-base>
</app-appbar-base>
