@import "~@progress/kendo-theme-default/dist/all.scss";

:not(.k-icon) {
  font-family: sans-serif !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

kendo-treeview {
  color: white !important;
  background-color: $primary !important;
  padding: 8px 16px !important;
  overflow: visible !important;
}

button[kendoButton] {
  justify-content: start;
  width: 100%;
  color: white !important;

  &.btn-side-bar-header {
    height: 36px;
    min-width: 36px;
    justify-content: center;
    color: $primary !important;
    background-color: white !important;
  }

  &.btn-ph-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.text-white {
  color: white !important;
}

.btn-circle {
  border-radius: 50% !important;
}

header.side-nav-header > div {
  border-top: rgba(200, 200, 200, 0.75) 1px solid;
  border-bottom: rgba(200, 200, 200, 0.75) 1px solid;
}

::ng-deep kendo-treeview > ul li {
  margin-bottom: 8px !important;
}
