.hv-100 {
  height: 100vh;
}

app-splitter-base {
  height: 100%;
}

button[kendoButton].btn-app-bar {
  width: 26px !important;
  height: 26px !important;
  color: white;
  .k-icon {
    font-size: 20px !important;
  }
}

kendo-textbox.search-app-bar {
  height: 24px;
  width: 320px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;

  ::ng-deep input {
    height: inherit;
    width: inherit;
    &::placeholder {
      color: white;
    }
  }
}

app-appbar-section-base {
  display: flex;
  align-items: center;
}

.avatar-app-bar {
  width: 28px;
  max-width: 28px;
  height: 28px;
  max-height: 28px;
  // TODO: Temp values, remove!
  background-color: #f6f6f6;
  color: #ff6358;

  & {
    justify-self: end;
  }
}
