<div class="k-d-flex k-d-flex-col hv-100">
  <app-appbar-base>
    <app-appbar-spacer-base></app-appbar-spacer-base>

    <app-appbar-section-base kendoTooltip>
      <button
        kendoButton
        look="clear"
        icon="clock"
        class="btn-app-bar"
        title="AA"
      ></button>
    </app-appbar-section-base>

    <app-appbar-spacer-base width="32px"></app-appbar-spacer-base>

    <app-appbar-section-base>
      <button kendoButton look="outline" class="btn-app-bar-search">
        Search workspace name
      </button>
    </app-appbar-section-base>

    <app-appbar-spacer-base width="32px"></app-appbar-spacer-base>

    <app-appbar-section-base>
      <button kendoButton look="clear" icon="help" class="btn-app-bar"></button>
    </app-appbar-section-base>

    <app-appbar-spacer-base></app-appbar-spacer-base>

    <app-appbar-section-base>
      <kendo-avatar
        shape="rounded"
        initials="MT"
        class="avatar-app-bar"
      ></kendo-avatar>
    </app-appbar-section-base>

    <app-appbar-spacer-base width="16px"></app-appbar-spacer-base>
  </app-appbar-base>

  <app-splitter-base orientation="horizontal">
    <app-splitter-pane-base min="15%" size="30%" class="k-bg-primary">
      <app-workspace-side-nav></app-workspace-side-nav>
    </app-splitter-pane-base>

    <app-splitter-pane-base min="40%" class="k-p-2">
      world
    </app-splitter-pane-base>
  </app-splitter-base>
</div>
